/* Basic style */
:root {
  --primary: rgb(242, 88, 88);
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #fa33e6;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */


/* slide */
a:nth-of-type(1) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.slide{
  animation-name: slide;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes slide{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(12rem);
    color: aqua;
    border-color: antiquewhite;
  }
  100% {
    transform: translateY(0);
  }
}



/* Rotate */
a:nth-of-type(2) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.rotate{
  animation-name: rotate;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}

@keyframes rotate{
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(100deg);
    color: aqua;
    border-color: antiquewhite;
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Scale */
a:nth-of-type(3) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.scale{
  animation-name: scale;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes scale{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
    color: aqua;
    border-color: antiquewhite;
  }
  100% {
    transform: scale(1);
  }
}

/* Upsidedown */
a:nth-of-type(4) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.upsidedown{
  animation-name: upsidedown;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes upsidedown{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(-1);
    color: aqua;
    border-color: antiquewhite;
  }
  100% {
    transform: scale(1);
  }
}

/* Color */
a:nth-of-type(5) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.color{
  animation-name: color;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 3s;
  animation-iteration-count: 5;
}

@keyframes color{
  0% {
    transform: scale(1);
  }
  100% {
    color: rgb(6, 1, 1);
    border-color: rgb(255, 145, 0);
    background-color: bisque;
  }
}

/* colorchange */
a:nth-of-type(6) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.colorchange{
  animation-name: colorchange;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 3s;
  animation-iteration-count: 3;
}

@keyframes colorchange{
  0% {
    transform: translateY(0);
  }
  25%{
    color: rgb(225, 218, 71);
    border-color: rgb(40, 209, 34);
    background-color: black;
  }
  50% {
    color: aqua;
    border-color: antiquewhite;
    background-color: aqua;
  }
  100% {
    color: rgb(255, 0, 0);
    border-color: rgb(3, 3, 3);
    background-color: #ffffff;
  }
}

/* Shake */
a:nth-of-type(7) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.shake{
  animation-name: shake;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

@keyframes shake{
  0% {
    transform: translate(0,0) rotate(0deg);
    background-color: #3a8570;
  }
  25%{
    transform: translate(3px, 3px) rotate(8deg);
    background-color: #3a8570;
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
    background-color: #3a8570;
  }
  75%{
    transform: translate(-3px, 3px) rotate(-8deg);
    background-color: #3a8570;
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
    background-color: #3a8570;
  }
}

/* Square */
a:nth-of-type(8) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.square{
  animation-name: square;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1s;
  animation-iteration-count: 3;
}

@keyframes square{
  0%{
    background-color:green; 
    left:0px; 
    top:0px;
  }
  25%{
    background-color:yellow; 
    left:400px; 
    top:0px;
  }
  50%{
    background-color:black; 
    left:400px; 
    top:400px;
  }

  75%{
    background-color:pink; 
    left:0px; 
    top:400px;
  }
  100%{
    background-color:red; 
    left:0px; 
    top:0px;
  }
}

/* Stretch */
a:nth-of-type(9) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.stretch{
  animation-name: stretch;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 2s;
  animation-iteration-count: 3;
}

@keyframes stretch{
  0%{
    background-color:green; 
  }
  50%{
    width: 300px;
    height: 100px;
    background-color:rgb(247, 251, 2);
  }
  100%{
    background-color:red; left:0px; top:0px;
  }
}

/* Thunder */
a:nth-of-type(10) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.thunder{
  animation-name: thunder;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 0.3s;
  animation-iteration-count: 6;
}

@keyframes thunder{
  0% {
    top: 0px;
    left: 0px;
    background-color: #207af9;
  }
  50% {
    top: 200px;
    left: 0px;
    background-color: #00ff9d;    
  }
  75%{
    top: 200px;
    left: 200px;
  }
  100% {
    top: 400px;
    left: 200px;
    background-color: #efff0d;
  }
}